{% extends "books/base.html" %}
{% block title %} 登录 {% endblock %}
{% block content %}

<section class="py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm border-0">
                    <div class="card-body p-4">
                        <h2 class="card-title text-center mb-4 fw-bold">用户登录</h2>

                        <!-- 登录表单 -->
                        <form method="post" novalidate="">
                            {% csrf_token %}
<!--                            <input type="hidden" name="csrfmiddlewaretoken" value="M9UpTjWhjddKAslJjXaSEngvKsDia2xAB081GbVeD3FeKd6RnKW0RrugaY5Exut3">-->
                            <div class="md-3">
                                <label for="" class="form-label fw-medium">用户名</label>
                                <input type="text" name="username" id="" class="form-control" placeholder="请输入用户名" value="">
                            </div>
                            <div class="md-3">
                                <label for="" class="form-label fw-medium">密码</label>
                                <input type="password" name="password" id="" class="form-control" placeholder="请输入密码">
                            </div>
                            <button type="submit" class="btn btn-primary w-100 py-2">登录</button>
                        </form>
                        <!--注册链接-->
                        <p class="text-center mt-3 text-muted">
                            还没有账号？<a href="/accounts/register/" class="text-primary text-decoration-none">立即注册</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}